<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="chassis">
    <xacro:macro name="chassis" params="roller_type">

        <link name="base_link">
            <inertial>
                <mass value="38.160"/>
                <origin xyz="0. 0. 0.05"/>
                <inertia ixx="1.272e0" ixy="3.949e-16" ixz="0e0" iyy="1.272e0" iyz="0e0" izz="2.290e0"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://rm_description/meshes/engineer/base_link.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0. 0. 0.05" rpy="0 0 0"/>
                <geometry>
                    <box size="0.55 0.55 0.1"/>
                </geometry>
            </collision>
        </link>

    </xacro:macro>

</robot>
